#system
.DS_Store

# Logs
logs
*.log

yarn.lock
package-lock.json
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
app/www/assets/previewprd